.task-delete-button-container {
  display: grid;
  grid-template-columns: 25% auto auto 25%;
  gap: 100px;
  align-items: start;
}

.task-delete-dialog-container {
  padding: 20px;
}

.deleted-task-container {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 10px;
}
